aiofiles==23.2.1
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.1.1
altgraph==0.17.3
anchor-kr==0.1.3
animdl==1.7.24
anitopy==2.1.1
annotated-types==0.5.0
ansicon==1.89.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
appopener==1.7
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
astroid==2.15.0
asttokens==2.4.0
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.1
auto-py-to-exe==2.26.1
autopep8==1.6.0
baapgattackutlis==1.0
Babel==2.12.1
backcall==0.2.0
backoff==2.2.1
base58==2.1.1
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==6.0.0
blessed==1.20.0
blinker==1.6.2
boltons==23.0.0
bottle==0.12.23
bottle-websocket==0.2.9
branca==0.6.0
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.6
cloudscraper==1.2.67
colorama==0.4.6
comfy==0.0.1
comm==0.1.4
comtypes==1.1.14
configparser==5.3.0
contourpy==1.1.0
crispy-bootstrap4==2022.1
crispy-bootstrap5==0.7
cryptography==38.0.4
cssselect==1.2.0
customtkinter==5.1.1
cycler==0.11.0
Cython==3.0.2
darkdetect==0.8.0
data==0.4
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
discord-webhook==1.1.0
distlib==0.3.6
Django==4.2.4
django-allauth==0.56.1
django-countries==7.5.1
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
dnspython==2.2.1
docstring-to-markdown==0.11
ecdsa==0.18.0
Eel==0.14.0
einops==0.6.1
exceptiongroup==1.1.3
executing==1.2.0
fake-useragent==1.1.3
fake_user_agent==2.1.8
fastapi==0.103.1
fastjsonschema==2.18.0
fernet==1.0.1
ffmpy==0.3.1
filelock==3.12.2
flake8==6.0.0
Flask==2.3.2
Flask-SocketIO==5.3.4
folium==0.13.0
fonttools==4.42.1
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.9.0
funcsigs==1.0.2
future==0.18.2
geocoder==1.38.1
geographiclib==2.0
geopy==2.3.0
gevent==22.10.2
gevent-websocket==0.10.1
gpustat==1.1.1
gradio==3.42.0
gradio_client==0.5.0
greenlet==2.0.2
gTTS==2.3.2
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
huggingface-hub==0.16.4
icmplib==3.0.3
identify==2.5.24
idna==3.4
image==1.5.33
imageio==2.22.4
imageio-ffmpeg==0.4.7
impacket==0.10.0
importlib-metadata==6.8.0
importlib-resources==6.0.1
imutils==0.5.4
instagram-private-api==1.6.0.0
install==1.3.5
ipykernel==6.25.2
ipython==8.15.0
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.6
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
keyboard==0.13.5
kiwisolver==1.4.5
lazy-object-proxy==1.9.0
lazy_loader==0.3
ldap3==2.9.1
ldapdomaindump==0.9.4
librosa==0.10.1
lightning-utilities==0.9.0
llvmlite==0.41.0
logger==1.4
lxml==4.9.2
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
maxminddb==2.4.0
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.1
MouseInfo==0.1.3
Movepy==0.0.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.4
nbclient==0.7.4
nbconvert==7.8.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nodeenv==1.8.0
noisereduce==3.0.0
notebook==7.0.4
notebook_shim==0.2.3
numba==0.58.0
numpy==1.24.3
nvidia-ml-py==12.535.108
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.27.8
opencage==2.1.0
opencv-python==4.7.0.72
orjson==3.9.5
outcome==1.2.0
overrides==7.4.0
packaging==23.0
pafy==0.5.5
pandas==2.1.0
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pathlib==1.0.1
pefile==2022.5.30
phonenumbers==8.13.1
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.7.23
pkginfo==1.9.6
platformdirs==3.5.3
playwright==1.34.0
pluggy==1.2.0
pooch==1.7.0
pprintpp==0.4.0
pre-commit==3.3.3
prettytable==3.8.0
proglog==0.1.10
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psutil==5.9.5
pure-eval==0.2.2
pyaes==1.6.1
pyasn1==0.4.8
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.14.1
pydantic==2.3.0
pydantic_core==2.6.3
pydocstyle==6.2.3
pydub==0.25.1
pyee==9.0.4
pyflakes==3.0.1
pygame==2.5.1
PyGetWindow==0.0.9
pygit2==1.12.2
Pygments==2.16.1
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==2.8.0
pylint==2.17.0
PyMsgBox==1.0.9
pynput==1.7.6
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
pyppeteer==1.0.2
pyquery==2.0.0
pyreadline==2.1
PyRect==0.2.0
Pyrogram==2.0.106
PyRoxy @ git+https://github.com/MHProDev/PyRoxy.git@ea0f88dbc0573292ba5672124f69e4e7a31b544d
PyScreeze==0.1.28
pyshorteners==1.0.1
PySimpleGUI==4.60.5
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
python-engineio==4.5.1
python-json-logger==2.0.7
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-multipart==0.0.6
python-socketio==5.8.0
python-whois==0.8.0
python3-openid==3.2.0
pytoolconfig==1.2.5
pytorch-lightning==2.0.8
pytube==12.1.0
pytweening==1.0.4
pytz==2023.3.post1
pywin32-ctypes==0.2.0
pywinpty==2.0.11
PyYAML==6.0
pyzmq==25.1.1
qrcode==7.3.1
queuelib==1.6.2
ratelim==0.1.6
referencing==0.30.2
regex==2022.10.31
requests==2.31.0
requests-html==0.10.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.3.3
rope==1.7.0
rotate-screen==0.1.0
rpds-py==0.10.2
safetensors==0.3.3
scikit-learn==1.3.1
scipy==1.11.2
secure-smtplib==0.1.1
selenium==4.11.2
semantic-version==2.10.0
Send2Trash==1.8.2
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.3.2.post1
soxr==0.3.7
speedtest==0.0.1
sqlparse==0.4.4
srctools==2.3.13
stack-data==0.6.2
starlette==0.27.0
sympy==1.12
tenacity==8.2.2
termcolor==2.3.0
terminado==0.17.1
threadpoolctl==3.2.0
TikTokApi==5.2.2
tiktoken==0.4.0
timeout-decorator==0.5.0
tinycss2==1.2.1
tld==0.13
tload==1.0.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==2.0.1
torchmetrics==1.1.1
torchsde==0.2.5
torchvision==0.15.2+cu118
tornado==6.3.3
tqdm==4.65.0
traitlets==5.10.0
trampoline==0.1.2
transformers==4.33.1
trio==0.22.2
trio-websocket==0.10.3
ttkthemes==3.2.2
typing_extensions==4.5.0
tzdata==2023.3
ujson==5.7.0
uri-template==1.3.0
urllib3==2.0.3
uvicorn==0.23.2
v==1
vboxapi==1.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
voila==0.5.4
w3lib==2.1.1
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.3
websockets==10.4
Werkzeug==2.3.6
whatthepatch==1.0.4
whichcraft==0.6.1
wrapt==1.15.0
wsproto==1.2.0
yapf==0.32.0
yarl==1.8.2
youtube-dl==2021.12.17
zipp==3.16.2
zope.event==4.6
zope.interface==5.5.2
