
a{
    border : none;
    padding : .2rem;
    border-radius : .33rem;
    color: #D8DEFD;
    transition: .33s;
    text-decoration: none;
    font-size : 1rem;
    display : flex;
    align-items : center;
    justify-content : center;

}
hr{
    border : .5px solid #c5b9c1;
}
button{
    font-size : 1rem;
    max-width:10rem;
    width : 100%;
    height : 2rem;
    border : 3px solid #190a2a;
    cursor : pointer;
    border-radius : .33rem;
    background : none;
    animation : gradient 15s ease infinite; 
    color : #190a2a;
    transition : .33s;
    letter-spacing: 2px;
}
h1{
    color : #02081C;
    text-align : center;
}
body{
    margin : 0;
    background-color : #DEDAD2;
}

nav{
    display : flex;
}
.container {
    margin: 0 auto;
    max-width : 992px;
    padding : .66rem;
    background-color : #ede9e2;
    border-radius : .33rem;
}

.mod-width{
    max-width : 30rem; 
    width : 100%; 
    gap : 2rem;
}
.continut{
    text-align : center;

}
.background-continut{
    background-color : #f0ede7;
    padding : .33rem;
    border-radius : .33rem;
}

form{
    display : flex; 
    flex-direction: column;
    height : 100%;
}
.getScreen{

    display : flex;
    background-color : #1E2D49;
   
}
input{
    max-width : 50rem;
    width : 80%;
    height : 1.75rem;
    border: none;
    color : white;
    border-bottom: 3px solid black;
    border-radius : .5rem;
    padding : .33rem;
    background-color : #2e203c;
}
@keyframes gradient{
    0%{
        background-position : 0% 50%;
    }
    33%{
        background-position : 50% 100%;
    }
    66%{
        background-position : 100% 50%;
    }
    100%{
        background-position : 0% 50%; 
    }
}


.changeRight{
    background-color: #C3D7EF;
}


@keyframes an {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.formOutsideDiv{
    border-radius : 1rem 0 0 1rem ;
    background-image: url("/static/imagesForBase/white.png");
    background-repeat: no-repeat;
    background-color: white; 
    min-width : 20rem;
    width : 25%;
}
.secondDivFlex{
    color : white;
    background: linear-gradient(336deg, #ebd067, #681c80 70.71%),
                linear-gradient(217deg, #673675, #b39830 70.71%);
    background-size : 175% 175%;
    animation : gradient 10s infinite;
}
.classroom{
    display : none;
}
.round{
    border-radius : 5rem;
    border : 1px solid gray;
    overflow : hidden;
}
.themes{
    display : block;
    max-width : 10rem;
    gap : 1rem;
    display : flex;
    align-items : center;
    justify-content : center;
}

.fullscreen{
    background: linear-gradient(336deg, #723C82, rgba(120,0,20,0) 70.71%),
                linear-gradient(217deg, #FCD84B, #9838b5 70.71%);
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 1rem;
    background-size : 150% 150%;
    transition : .4s;
    position : absolute;
    animation : gradient 3s infinite;
}
span{
    cursor : pointer;
    padding : .33rem;
}
.CNNSletters{
    color : white;
    display : none;
}
.PL{
    color : white; 
    display : none;
}
.Home{
    color : white; 
    display : none;
}

*{
    font-family: 'Poppins';
}
.zButon{
    border : 3px solid #190a2a;
    letter-spacing: 2px;
    color : #190a2a;
    background : none;
}
.ifBlock{
    display : none;
}
.elseBlock{
    display : none;
}
