@keyframes gradient{
    0%{
        background-position : 0% 50%;
    }
    33%{
        background-position : 50% 100%;
    }
    66%{
        background-position : 100% 50%;
    }
    100%{
        background-position : 0% 50%; 
    }
}
@keyframes an {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
.profile_icon:hover{
    animation: shake 0.5s;
    cursor : pointer;
}
.fullscreen{
    background: linear-gradient(336deg, #723C82, rgba(120,0,20,0) 70.71%),
                linear-gradient(217deg, #FCD84B, #9838b5 70.71%);
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    gap : 1rem;
    background-size : 250% 250%;
    transition : .4s;
    position : absolute;
    animation : gradient 2.88s infinite;
}
.secondDivFlex{
    color : white;
    background: linear-gradient(336deg, #ebd067, #681c80 70.71%),
                linear-gradient(217deg, #673675, #b39830 70.71%);
    background-size : 175% 175%;
    animation : gradient 10s infinite;
}