

@media (max-width: 1080px){
    .container{
        max-width: 992px;}
}

@media (max-width: 992px){
    .container{
        max-width: 768px;}
}

@media (max-width: 768px){
    .mod-width {
        width : 100%;
    }
    .formOutsideDiv{
        position : relative;
        width : 100%;
        border-radius : 0;
    }
    .secondDivFlex{
        width : 100%;
    }
}
