{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for post in posts %} 
    {% if post.class4post == 'anunt' %}
        <div class = 'padding-1rem'>
            <div class = ' container display-flex align-items-center justify-content-center ' style = 'justify-content: top;  flex-direction: column;'>  <br>
                <div style = 'width : 95%;'>
                    <div class = 'display-flex align-items-center' style = 'justify-content : left; gap : .33rem; background-color: #d9d1d2; border-radius : .33rem; padding : .33rem; '>
                        <img src="{{ post.author.profile.image.url }}" class = 'round' style = 'width : 3.5rem; height : 3.5rem;'>
                        <h5 style = 'color : #552360;'>{{post.author}} </h5>
                        <h5>-</h5>  
                        <h5 style = 'color : gray;'>{{post.date_posted}}</h5> 
                    </div>
                    <h2 id = 'elseBlock' class = '{{post.class4post}}'><span style = 'background-color : #50265E; color : white; border-radius : .33rem;'>#{{post.id}}</span> - {{post.title}} </h2>
                    <p>{{post.content}}</p>
                    {% if post.image %}
                    <div class = 'display-flex align-items-center justify-content-center'>
                        <img src = '/media/{{post.image}}' style = 'max-width: 100%; border-radius : .33rem;'>
                    </div> <br>
                    {% endif %}
                    <div class="display-flex align-items-center justify-content-center" 
                        style = 'gap : .33rem;'>
                        <a href="{% url 'post-update' post.id %}" class = 'ifBlock zButon btnHover {{post.author}}{{post.id}}'>Update</a>
                        <a href="{% url 'post-detail' post.id %}" class = 'zButon btnHover'>More</a>
                        <a href="{% url 'post-delete' post.id %}" class = 'ifBlock zButon btnHover {{post.author}}{{post.id}}'>Delete</a>
                        <a class = ' zButon btnHover commentbutton' style = 'background-color : #28532f;' onclick = "
                            document.querySelectorAll('.comment{{post.id}}').forEach((e) =>{
                                e.style.display = 'Block';
                            })"> 
                        <img src="{% static 'imagesForBase/comment.png' %}" style = 'height : 1.33rem;'></a>

                        <a class = ' zButon btnHover commentbutton' style = 'background-color : #a8132f;' onclick = "
                            document.querySelectorAll('.comment{{post.id}}').forEach((e) =>{
                                e.style.display = 'none';
                            })">
                        <img src="{% static 'imagesForBase/commentDelete.png' %}" style = 'height : 1.33rem;'></a>
                    </div>
                </div> <br>
                <script>
                if('{{user}}' == '{{post.author}}') {
                    document.querySelectorAll('.{{post.author}}{{post.id}}').forEach((e) =>{
                        e.style.display = 'block';
                    })
                }else {try {document.getElementById('#elseBlock').css.display = 'block';}
                    catch{}}
                </script>
            </div>
        </div>
       {% for comment in comments %}
            {% if comment.idComment|slugify == post.id|slugify %}
            <div class = 'display-flex align-items-center justify-content-center'>
                <div class = ' comment{{comment.idComment}}' style = 'display : none; width : 85%;'>
                    <div class = ' container display-flex align-items-center justify-content-center ' style = 'justify-content: top;  flex-direction: column; max-width : 882px; width: 100%; background-color: #dbd3dc;'>  <br>
                        <div style = 'width : 95%;'>
                            <div class = 'w-100 display-flex align-items-center' style = 'justify-content : left; gap : .33rem; background-color: #c6b8c1; border-radius: .33rem; padding : .33rem; '>
                                <span style = 'width : 80%; gap : .5rem;' class="display-flex align-items-center">
                                    <img src="{{ comment.author.profile.image.url }}" class = 'round' style = 'width : 3.5rem; height : 3.5rem;'>
                                    <h5 style = 'color : #552360; gap : .33rem;'>{{comment.author}} - <span style = 'color : rgb(78, 78, 78); text-align : center;'>{{comment.date_posted}}</span> </h5>  
                                </span>
                                <span style = 'justify-content: end; gap : 1rem;' class="display-flex align-items-center">
                                    <a href="{% url 'comments-detail' comment.id %}" class = 'zButon btnHover'>More</a>
                                    <a href="{% url 'comments-delete' comment.id %}" class = 'ifBlock zButon btnHover {{comment.author}}{{comment.id}}'>Delete</a>
                                </span>
                            </div>
                            <p>{{comment.body}}</p> 
                            {% if comment.image %}
                                <br>
                                    <div class = 'w-100 display-flex align-items-center justify-content-center'>
                                        <img src = '/media/{{comment.image}}' style = 'border-radius: .33rem;'>
                                    </div>
                                <br>    
                            {% endif %}
                            </div>
                        </div>
                        <script>
                            if('{{user}}' == '{{comment.author}}') {
                                document.querySelectorAll('.{{comment.author}}{{comment.id}}').forEach((e) =>{
                                    e.style.display = 'block';
                                })
                            }else {try {document.getElementById('#elseBlock').css.display = 'block';}
                                catch{}}
                        </script>
                </div>
            </div> <br>
            {% endif %}
       {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
