{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CNNS BLOG - Welcome, {{user.username}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "{% static 'imagesForBase/logo.ico'%}">
    <link rel="stylesheet" href = "{% static 'css/media.css' %}">
    <link rel="stylesheet" href = "{% static 'css/index.css' %}">
	<link rel="stylesheet" href = "{% static 'css/shorts.css' %}">
	<link rel="stylesheet" href = "{% static 'css/hover.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>{% block tit %}{% endblock %}
    </div>
    <nav style = 'background-color: #552360;' class="w-100 display-flex align-items-center justify-content-center">   
        <div style = "width : 16rem; padding : .4rem;" 
            class = 'display-flex align-items-center justify-content-center'>
            <a href = "{% url 'home' %}">
                <img src = "{% static 'imagesForBase/logo.png' %}" alt = 'CNNS' style = 'height : 2.3rem;'>
            </a>
        </div>
        <div style = "width : 100%; padding : .33rem;
            display: flex; align-items: center; justify-content: right;">
            <div class = 'display-flex align-items-center justify-content-center mod-width'>
                {% if user.is_authenticated %}
                    <a href = "{% url 'anunturi' %}">Anunturi</a>
                    <a href = "{% url 'profile' %}">Profie</a>
                    <a href = "{% url 'contactPage' %}">Contact</a>
                {% else %}
                    <a href = "{% url 'log' %}">Login</a>
                    <a href = "{% url 'register' %}">Register</a>
                {% endif %}
            </div>

        </div>
    </nav>
    <br>
    {% block content %}{% endblock %}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src = "{% static 'js/index.js' %}"></script>
<script src = "{% static 'js/filter.js' %}"></script>
</html>
