{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Filter for posts</h1>
<br>
<div class = 'w-100 display-flex align-items-center justify-content-center' style = 'gap : 1rem; flex-wrap: wrap;'>
    <select style = 'max-width : 49.5rem; width : 50%; height : 2rem; background-color: #2e203c;
        color : white; border-bottom: 3px solid black; border-radius : .5rem; padding : .33rem;'> 
        <option>-</option>
        <option value = 'anunt'>ANUNT ( postare vizibila de toata lumea )</option>
        <option value = 'mxWLOPyckongDCJGBpQK'>5e</option>
        <option value = 'eRstQPMlfBoYsLBVZgMW'>8e</option>
        <option value = 'QFdINEQehJkVrcHZtUJs'>9i2</option>
        <option value = 'amcYvyDjbIjNAWyLEwJG'>10i1</option>
        <option value = 'RQRYehryuCqGGvTCJpek'>11s</option>
    </select>
    <button id = 'filterButton'>Filter</button>
</div><br>
{% for post in posts %} 
        {% if user.is_superuser%}
        <div class = 'padding-1rem {{post.class4post}}'>
            <div class = ' container display-flex align-items-center justify-content-center ' style = 'justify-content: top;  flex-direction: column;'>  <br>
                <div style = 'width : 95%;'>
                    <div class = 'display-flex align-items-center' style = 'justify-content : left; gap : .33rem;'>
                        <img src="{{ post.author.profile.image.url }}" class = 'round' style = 'width : 3.5rem; height : 3.5rem;'>
                        <h5 style = 'color : #552360;'>{{post.author}} </h5>
                        <h5>-</h5>  
                        <h5 style = 'color : gray;'>{{post.date_posted}}</h5> 
                    </div><hr>
                    <h2 id = 'elseBlock'>{{post.title}} - #{{post.id}}</h2>
                    <p>{{post.content}}</p>
                    {% if post.image %}
                    <div class = 'display-flex align-items-center justify-content-center'>
                        <img src = '{{post.image}}' style = 'max-width: 100%; border-radius : .33rem;'>
                    </div> <br>
                    {% endif %}
                    <div class="display-flex align-items-center justify-content-center" 
                        style = 'gap : .66rem;'>
                        <a href="{% url 'post-update' post.id %}" 
                            class = 'ifBlock zButon btnHover {{post.author}}{{post.id}}'>Update</a>
                        <a href="{% url 'post-detail' post.id %}" class = 'zButon btnHover'>More</a>
                        <a href="{% url 'post-delete' post.id %}" 
                            class = 'ifBlock zButon btnHover {{post.author}}{{post.id}}'>Delete</a>
                        <a class = ' zButon btnHover commentbutton' style = 'background-color : #28532f;' onclick = "
                            document.querySelectorAll('.comment{{post.id}}').forEach((e) =>{
                                e.style.display = 'Block';
                            })">
                        <img src="{% static 'imagesForBase/comment.png' %}" style = 'height : 1.33rem;'></a>
                        <a class = ' zButon btnHover commentbutton' style = 'background-color : #a8132f;' onclick = "
                            document.querySelectorAll('.comment{{post.id}}').forEach((e) =>{
                                e.style.display = 'none';
                            })">
                        <img src="{% static 'imagesForBase/commentDelete.png' %}" style = 'height : 1.33rem;'></a>
                    </div>
                </div> <br>
                <script>
                if('{{user}}' == '{{post.author}}') {
                    document.querySelectorAll('.{{post.author}}{{post.id}}').forEach((e) =>{
                        e.style.display = 'block';
                    })
                }else {try {document.getElementById('#elseBlock').css.display = 'block';}
                    catch{}}
                </script>
            </div>
        </div>
       {% for comment in comments %}
            {% if comment.idComment|slugify == post.id|slugify %}
            <div class = 'padding-1rem comment{{comment.idComment}}' style = 'display : none;'>
                <div class = ' container display-flex align-items-center justify-content-center ' style = 'justify-content: top;  flex-direction: column; max-width : 882px; width: 100%; background-color: #dbd3dc;'>  <br>
                    <div style = 'width : 95%;'>
                        <div class = 'w-100 display-flex align-items-center' style = 'justify-content : left; gap : .33rem;'>
                            <span style = 'width : 80%; display : flex;'>
                                <img src="{{ comment.author.profile.image.url }}" class = 'round' style = 'width : 2.5rem; height : 2.5rem;'>
                                <h5 style = 'color : #552360;'>{{comment.author}} </h5><h5>-</h5>  
                                <h5 style = 'color : gray; text-align : center;'>{{comment.date_posted}}</h5> 
                            </span>
                            <span style = 'justify-content: end; gap : 1rem;' class="display-flex align-items-center">
                                <a href="{% url 'comments-detail' comment.id %}" class = 'zButon btnHover'>More</a>
                                <a href="{% url 'comments-delete' comment.id %}" 
                                    class = 'ifBlock zButon btnHover {{comment.author}}{{comment.id}}'>Delete</a>
                            </span>
                        </div><hr>
                        <p>{{comment.body}}</p>
                        {% if comment.image %}
                            <br>
                                <div class = 'display-flex align-items-center justify-content-center'>
                                    <img src = '{{comment.image}}' style = 'border-radius: .33rem; width : 100%;'>
                                </div>
                            <br>    
                        {% endif %}
                        </div>
                    </div> <br>
                    <script>
                        if('{{user}}' == '{{comment.author}}') {
                            document.querySelectorAll('.{{comment.author}}{{comment.id}}').forEach((e) =>{
                                e.style.display = 'block';
                            })
                        }else {try {document.getElementById('#elseBlock').css.display = 'block';}
                            catch{}}
                    </script>
                </div>
            {% endif %}
       {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
