{% extends "base_noanimation.html" %}
{% load static %}

{% block content %}

{% if posts %}
    {% for post in posts %} 
        {% if post.class4post == user.last_name %}
            <div style = "padding : 1rem">
                <div class = ' container display-flex align-items-center justify-content-center ' style = 'flex-direction: column;'>
                    <div class = "display-flex" style = "width : 100%;">
                        <div class = 'display-flex align-items-center justify-content-top carbon_fiber flex-direction-column' style = 'gap : .5rem;  border : 2px solid #2E203C; border-radius : .33rem; padding : .33rem; margin : 1rem;'>
                            <a style = "padding : 0;" href = "{% url 'user_profile' username=post.author.username %}">
                                <img src="{{ post.author.profile.image.url }}" alt = 'Author_IMG' class = 'round'>
                            </a>
                            {% if post.author|slugify == user.username|slugify or user.is_superuser %}
                            <a href="{% url 'post-delete' post.id %}" class = 'page_button {{post.author}}{{post.id}}' style = "border : none;">
                                <img src = "{% static 'imagesForBase/trash.png'%}" alt = "TRASH" style = "height : 1.5rem; border : none;">
                            </a>
                            {% endif %}
                        </div>
                        <div style = "width : 88.5%;">
                            <div style = " margin-top : 1rem; margin-bottom: 1rem;">
                                <span style = 'color : #552360; font-size : 1rem;'>{{post.author}} </span>
                                ➤
                                <span style = 'color : #303030; font-size : 1rem'>{{post.date_posted}}</span> 
                            </div>
                            <div >
                                <div style = "font-size: 1.5rem;">
                                    <span style = 'background-color : #50265E; color : white; border-radius : .33rem;'>
                                        #{{post.id}}
                                    </span> 
                                    - 
                                    {{post.title}} 
                                </div>
                                <div class = "w-100 display-flex">
                                    <p style = "font-family: 'Poppins', sans-serif; text-align: ledt; width : 95%;">
                                        <span>▪</span>{{post.content}}
                                    </p>
                                </div>

                                {% if post.image %}
                                <div class = "display-flex align-items-center justify-content-center" style = "background-color: #C8BAC3; margin : 1rem; border-radius : .33rem; border : 2px solid #2E203C;">
                                    <img src = '/media/{{post.image}}' alt = '{{post.image}}' style = 'width: 100%;  margin : .66rem;'>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="display-flex align-items-center justify-content-center" style = 'gap : .66rem;'>
                <a href="{% url 'post-update' post.id %}" class = 'page_button {{post.author}}{{post.id}}'>Update</a>
                <a href="{% url 'post-detail' post.id %}" class = 'page_button'>More</a>

                <a class = "comment_show_{{post.id}}" onclick = "comment_visualisation('1', '{{post.id}}')"> 
                    <img src="{% static 'imagesForBase/com2.png' %}" alt = 'Show Comments' style = 'height : 2rem;'>
                </a>
                <a class = "comment_hide_{{post.id}}" onclick = "comment_visualisation('0', '{{post.id}}')">
                    <img src="{% static 'imagesForBase/com1.png' %}" alt = 'Hide Comments' style = 'height : 2rem;'>
                </a>    
            </div>
            <br>

            <div class = "w-100 display_none comment_section_{{post.id}}">
                {% if comments %}
                    {% for comment in comments %}
                        {% if comment.idComment|slugify == post.id|slugify %}
                            <div style = "padding-left : 1rem; padding-right : 1rem;">
                                <div class = 'display-flex align-items-center justify-content-center'>
                                    <div class = ' comment{{comment.idComment}}' style = 'display : none; max-width : 772px; width : 100%;'>
                                        <div class = 'comment_container display-flex justify-content-center' style = ' background-color: #dbd3dc; padding : .5rem;'> 
                                            <div class = "display-flex align-items-center justify-content-top flex-direction-column" style = "gap : .5rem;">
                                                <img src="{{comment.author.profile.image.url}}" style = "height : 2.5rem; width : 2.5rem;" class = "round"  alt="COMMENT_PFP">
                                                {% if comment.author|slugify == user.username|slugify or user.is_superuser %}
                                                    <a href="{% url 'comments-delete' comment.id %}" class = 'page_button {{comment.author}}{{comment.id}}' style = "border : none;">
                                                        <img src = "{% static 'imagesForBase/trash.png'%}" alt = "TRASH" style = "height : 1.5rem;">
                                                        <!--<a href="https://www.flaticon.com/free-icons/trash-can" title="trash can icons">Trash can icons created by Freepik - Flaticon</a>-->
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class = "display-flex justify-content-left flex-direction-column" style = "width: 90%; margin-left : 1rem;">  
                                                <div>
                                                    <span style = 'color : #552360; font-size : .9rem;'>{{comment.author}} </span>
                                                    ➤
                                                    <span style = 'color : #303030; font-size : .9rem'>{{comment.date_posted}}</span> 
                                                    
                                                </div>
                                                <p style = "font-family: 'Poppins', sans-serif; text-align: ledt; width : 95%;">
                                                    <span>▪</span>{{comment.body}}
                                                </p>
                                                {% if post.image %}
                                                    <div class = "display-flex align-items-center justify-content-center" style = "background-color: #C8BAC3; margin : 1rem; border-radius : .33rem; border : 2px solid #2E203C;">
                                                        <img src = '/media/{{comment.image}}' alt = '{{comment.image}}' style = 'width: 100%;  margin : .66rem;'>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endif %}
                    {% endfor %}

                {% else %}
                    <div class = "w-100 display-flex align-items-center justify-content-center">
                        <span> Nu sunt comentarii momentan. Fii tu primul! :)</span>
                    </div>
                {% endif %}
            </div>   

        {% endif %}
    {% endfor %}
{% else %}
    <div class = "w-100 display-flex align-items-center justify-content-center">
        <br>
        <span style = "color : #111111">Nu exista nici o postare momentan!</span>
    </div>
{% endif %}

{% endblock %}
