{% extends 'baseLogin.html' %}
{% load static %}
{% block content %}
    <form method = 'POST' action = '' class = 'display-flex align-items-center justify-content-center w-100 h-75' style = 'background: none;'>
        {% csrf_token %}
        <div class = 'w-100 h-25 display-flex align-items-center justify-content-center' style = 'flex-direction: column;'> </div>
        <h1 style = 'color : #210D38; text-shadow: 2px 2px 2rem #fff;'>Alege Clasa </h1>
        <input type="text" name = 'last_name' placeholder="  Invitation" style = "width : 80%;"> <br> 
        <button type = 'submit' name = 'Login' >Join</button> <br>
    </form>
{% endblock %}