{% extends "base.html" %}
{% load static %}

{% block tit %}
<div class = 'fullscreen' style = 'flex-direction: column; position : fixed;'>
    <div style = 'display : flex ; gap : 1rem;'>
        <span class = 'CNNSletters'>C</span>
        <span class = 'CNNSletters'>N</span>
        <span class = 'CNNSletters'>N</span>
        <span class = 'CNNSletters'>S</span>
    </div>
    <div style = 'display : flex; gap :1rem;'>
        <span class = 'PL'>P</span>
        <span class = 'PL'>L</span>
        <span class = 'PL'>O</span>
        <span class = 'PL'>I</span>
        <span class = 'PL'>E</span>
        <span class = 'PL'>S</span>
        <span class = 'PL'>T</span>
        <span class = 'PL'>I</span>
    </div>
    <div style = 'display : flex; gap :1rem;'>
        <span class = 'Home'>C</span>
        <span class = 'Home'>O</span>
        <span class = 'Home'>N</span>
        <span class = 'Home'>T</span>
        <span class = 'Home'>A</span>
        <span class = 'Home'>C</span>
        <span class = 'Home'>T</span>
    </div>
</div>
{% endblock %}

{% block content %}
   
    <div style = 'padding : 1rem;'>
        <div class = 'display-flex align-items-center justify-content-center'>
            <h1>Send E-mail</h1>
        </div>
        <div class = 'container' style = 'background-color: #c5b9c1;'> <br> <br>
            <form id="form" class=" display-flex align-items-center justify-content-center">
                    <input type="text" name="from_name" id="from_name" placeholder = 'Your Email Adress...'> <br>
                    <input type="text" name="to_name" id="to_name" placeholder="Your Name... (Optional)"> <br>
                    <textarea type="text" style = '   max-width : 50rem; width : 80%; height : 10rem; background-color: #2e203c;
                    color : white; border-bottom: 3px solid black; border-radius : .5rem; padding : .33rem;' name="message" id="message" placeholder = 'Message...'></textarea> <br>
                    
                <button type="submit" id="button" value="Send Email" class = 'btnHover zButon'>Submit</button><br>
              </form>
        </div> <br> <br>
        <div class = 'display-flex align-items-center justify-content-center'>
            ♨️
        </div>
    </div>
    <br> 
    <hr class="w-50" style = 'border : .5px solid #c5b9c1;'>
    <div class = 'w-100 display-flex align-items-center justify-content-center'>
        <div class = 'w-50 display-flex align-items-center' style = 'justify-content: end; gap : .2rem;'>
            <a href = 'https://twitter.com/Z4queee'><img src="{% static 'imagesForBase/x.png' %}" style = 'height : 1.2rem;'></a>
            <a href = 'https://www.instagram.com/zanddry/'><img src="{% static 'imagesForBase/insta.png' %}" style = 'height : 1.2rem;'></a>
        </div>
    </div>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
    </script>
    <script type = 'text/javascript'>
        const btn = document.getElementById('button');

        document.getElementById('form')
        .addEventListener('submit', function(event) {
        event.preventDefault();

        btn.value = 'Sending...';

        const serviceID = 'default_service';
        const templateID = 'template_ydysgzp';

        emailjs.sendForm(serviceID, templateID, this)
            .then(() => {
            btn.value = 'Send Email';
            alert('Sent!');
            }, (err) => {
            btn.value = 'Send Email';
            alert(JSON.stringify(err));
            });
});
        emailjs.init('MiWPLpVeEpDK0uOnI');
        document.getElementById('from_name').value = '{{user.email}}';
    </script>
{% endblock %} 