{% extends "form_base.html" %}
{% load static %}

{% block content %}
    <div style = "padding : 1rem;">
        <div class = "big_container display-flex align-items-center justify-content-center w-100" style = "background-color: #ad96af; border : 3px solid #552360;">
            <div class = "w-100" style = "background-color: #e6e4de; border-right :  3px solid #552360;">
                <br>
                <div style = "width : 100%; font-size : 2rem; text-align: center; color : #2E203C">
                    Edit Profile !
                </div>
                <br>
                <form method = 'POST' enctype="multipart/form-data" class = 'display-flex align-items-center justify-content-center ' style = 'background: none; gap : 1rem; padding : 1rem;'>
                    {% csrf_token %}
                    <div class = "display-flex w-100" style = "gap : .5rem;">
                        <input type="text" name="username" value="{{user.username}}" placeholder="Username" required id="id_username" style = "width : 50%;">
                        <input type="email" name="email" value="{{user.email}}" required id="id_email" style = "width : 50%;">
                    </div>
                    <input type="text" name="description" value="{{user.profile.description}}" placeholder="Descprition" style = "width : 98%;">
                    <input type="text" name="website" value="{{user.profile.website}}" placeholder = "Website" style = "width : 98%;">
                    <div class = "display-flex align-items-center justify-content-center w-100" style = "gap : .5rem;">
                        <input type="file" name="image" accept="image/*" id="id_image" style = "width: 90%;">  
                        <a href = "{{user.profile.image.url}}" style = "color : #2E203C">
                            <img src = "{% static 'imagesForBase/user.png' %}" alt = "CURRENT_ICON" style = "height : 2rem;">
                            <!--<a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Freepik - Flaticon</a>-->
                        </a>
                    </div>  
                    <div class = "display-flex align-items-center justify-content-center w-100" style = "gap : .5rem;">
                        <input type="file" name="background" accept="image/*" id="id_background" style = "width: 90%;">
                        <a href = "{{user.profile.background.url}}" style = "color : #2E203C">
                            <img src = "{% static 'imagesForBase/background.png' %}" alt = "CURRENT_BG" style = "height : 2rem;">
                            <!--<a href="https://www.flaticon.com/free-icons/photo" title="photo icons">Photo icons created by Freepik - Flaticon</a>-->
                        </a>
                    </div>
                    <button type = 'submit' class = 'page_button'>Update</button> <br> 
                </form>
                <br>
            </div>
            <div style = "width: 400px; gap : 1rem;" class = "display-flex align-items-center justify-content-center flex-direction-column">
                <img src = "{{user.profile.image.url}}" id = "change_icon" style = "height : 100px; width : 100px; background-color: #9571a5;" class = 'round'>
                <img src = "{{user.profile.background.url}}" id = "change_background" style = "border: 2px solid #2E203C; border-radius : .5rem; width : 80%; background-color: #9571a5;">
            </div> 
        </div>
    </div>
    <script>
        function show_image( id, change ){
            document.getElementById(id).addEventListener('change', function(event) {
            const file = event.target.files[0]; 
            if (file) {
                const fileURL = URL.createObjectURL(file); 
                document.getElementById(change).setAttribute("src", fileURL);
            }
        }); 
        }
        
        show_image("id_image", "change_icon");
        show_image("id_background", "change_background");
        </script>
        
{% endblock %} 
