{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CNNS BLOG - Welcome, {{user.username}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "icon" href = "{% static 'imagesForBase/logo.ico'%}">
    <link rel="stylesheet" href = "{% static 'css/media.css' %}">
    <link rel="stylesheet" href = "{% static 'css/index.css' %}">
	<link rel="stylesheet" href = "{% static 'css/shorts.css' %}">
	<link rel="stylesheet" href = "{% static 'css/hover.css' %}">
    <link rel="stylesheet" href = "{% static 'css/keyframes.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<body class = "form_body svg_background_2">
    <nav style = 'background-color: #552360;' class="w-100 display-flex align-items-center justify-content-center">   
        <div style = "width : 16rem; padding : .4rem;" 
            class = 'display-flex align-items-center justify-content-center'>
            <a href = "{% url 'home' %}">
                <img src = "{% static 'imagesForBase/logo.png' %}" alt = 'CNNS' style = 'height : 2rem;'>
            </a>
        </div>
        <div style = "width : 100%; padding : .22rem;
            display: flex; align-items: center; justify-content: right;">
            <div class = 'display-flex align-items-center justify-content-center'>
                {% if user.is_authenticated %}
                    <a href = "{% url 'anunturi' %}">
                        <img src="{% static 'imagesForBase/white_megaphone.png' %}" alt="ANUNȚURI" style = "height : 1rem;" >
                    </a>
                    <a href = "{% url 'clasa_mea' %}">Clasa mea</a>
                    <a href = "{% url 'profile' %}">Profil</a>
                    <a href = "{% url 'logout' %}">Logout</a>
                    <a href = "{% url 'contactPage' %}">Contact</a>
                {% else %}
                    <a href = "{% url 'log' %}">Logare</a>
                    <a href = "{% url 'register' %}">Înregistrare</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div style = "height: 100%;" class = "display-flex align-items-center justify-content-center">
        {% block content %}{% endblock %}

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src = "{% static 'js/index.js' %}"></script>
<script src = "{% static 'js/filter.js' %}"></script>
<script src = "{% static 'js/form_page.js' %}"></script>

</html>
