{% extends "base_noanimation.html" %}

{% block content %}
    <div style = 'height : 10rem; flex-direction: column;' class = 'display-flex align-items-center justify-content-center w-100'>
        <div class = 'display-flex align-items-center justify-content-center w-100'>
           <div style = 'padding-left : 1rem; width: 40%;' > <div class = ' display-flex align-items-center justify-content-center ' style = 'border : 1px solid gray; width : 100%'></div></div>
            <span class = 'h-100 display-flex align-items-center justify-content-center' style = 'padding : 1rem; color : rgb(0, 100, 0);text-align: center;'> You have logged out ! </span>
            <div style = 'padding-right : 1rem; width: 40%;' > <div class = ' display-flex align-items-center justify-content-center ' style = 'border : 1px solid gray; width : 100%'></div></div>
        </div>
        <span>Z4que ® all Rights Reserved</span>
    </div>    
{% endblock %}
