{% extends 'base.html' %}

{% block content %}

{% for post in posts %}
    <script>
        console.log("aici {{post.class4post}}");
    </script>
{% endfor %}

<div style = 'padding : 1rem'>
    <div class = 'container display-flex align-items-center justify-content-center' style = 'padding : 1rem; flex-wrap: wrap; background-color: #c5b9c1;'>
        <br>
        <div class = 'w-100 display-flex align-items-center ' style = 'gap : 1rem;padding-left : 5rem;'>
            <img src="{{ user.profile.image.url }}" class = 'round' style = 'width : 3rem; height : 3rem;'>
            <span style = 'min-width: 10rem; display : block;'>Username : {{ user.username }}</span> 
        </div>
        <form method="POST" action="" enctype="multipart/form-data" class = 'w-100 align-items-center justify-content-center' style = 'flex-direction: column;'>
            {% csrf_token %} <br>
            <textarea name = 'idComment' placeholder = 'Id Comment ( Only the number )'></textarea><br>
            <textarea name = 'body' style = 'height : 10rem;' placeholder = 'body'></textarea><br>
            <textarea name = 'class4post' style = 'display : none;'>{{user.last_name}}</textarea><br>
            <input type="text" name="image" id="id_image" placeholder = 'URL IMAGE '><br>
            <div class = 'display-flex align-items-center justify-content-center' style = 'text-align : center;'>
                 <a atyle = 'color : #a8132f' href = 'https://postimages.org/'><h3 style = 'color : #a8132f'>UPLOAD IMAGES HERE. PASTE ONLY DIRECT LINK IN THE FIELD</h3></a> 
             </div> <br>
            <button type = 'submit' name = 'Create' class = 'btnHover zButon'>Create</button>
            <br> <p>Z4que ® all Rights Reserved</p>
        </form>
    </div>
</div>
<br>
<div style = 'padding : 1rem; '>
    <div class = 'display-flex align-items-center justify-content-center w-100'>
        <div style = 'min-width : 10rem; width : 100%; background-color: #c5b9c1; padding : 1rem; flex-direction: column;' class = 'container display-flex align-items-center justify-content-center'>
            <h1><span style = 'color : blue'>🇬🇧</span> Notes and clarifications</h1>
            <span style = 'padding : 1rem; text-align: center;'>Please be careful when selecting the post for which you want the desired comment. In any case, if you select
                  wrong post, your <b>comment will not appear for anyone else in the class or for you.</b>. ~Z4que
            </span>
        </div>
    </div>
    <br>
    <div class = 'display-flex align-items-center justify-content-center w-100'>
        <div style = 'min-width : 10rem; width : 100%; background-color: #c5b9c1; padding : 1rem; flex-direction: column;' class = 'container display-flex align-items-center justify-content-center w-50'>
            <h1><span style = 'color : red;'>🇷🇴</span> Note si precizari</h1>
            <span style = 'padding : 1rem; text-align: center;'>Vă rugăm să fiți atenți când selectați postarea pentru care vreți comentariul dorit. În orice caz, dacă selectați
                postarea greșită, <b>comentariu tău nu va apărea pentru nici o persoană din altă clasă, nici pentru tine.</b>. ~Z4que
            </span>
        </div>
    </div>
</div>

{% endblock %}
