{% extends 'form_base.html' %}
{% load static %}
{% block content %}
    <div class = "add_wrap big_container display-flex align-items-center justify-content-center w-100" style = "background-color: #ad96af; border : 3px solid #552360;">
        <div style = "width: 400px;" class = "display-flex align-items-center justify-content-center flex-direction-column">
            <img src="{% static 'imagesForBase/phone.png' %}" alt="EMAIL_IMAGE" style = " width: 80%; margin-bottom : 1rem;">
            <br>
            <div style = "width: 100%; color : #E6E4DE;">
                <div class = "w-100 display-flex">
                    <div style = "margin-left : 1rem; margin-right: .5rem;" class = "display-flex align-items-center justify-content-center">
                        <img src = "{% static 'imagesForBase/email_icon.png' %}" alt = "EMAIL_ICON" style = "height : 2rem;">
                    </div>
                    <div class = "w-100 display-flex align-items-center justify-content-center">
                        <span class = "w-100" style = "color : #DEDAD2; text-align : center">zamfirandrey26@gmail.com</span>
                    </div>
                </div>
                <div class = "w-100 display-flex">
                    <div style = "margin-left : 1rem; margin-right: .5rem;" class = "display-flex align-items-center justify-content-center">
                        <img src = "{% static 'imagesForBase/whatsapp_icon.png' %}" alt = "EMAIL_ICON" style = "height : 2rem;">
                    </div>
                    <div class = "w-100 display-flex align-items-center justify-content-center">
                        <span class = "w-100" style = "color : #DEDAD2; text-align: center;">+40 799 999 999</span>
                    </div>
                </div>
            </div>
        </div> 
        <div class = "w-100" style = "background-color: #e6e4de; border-left :  3px solid #552360;">
            <br>
            <div style = "width : 100%; font-size : 2rem; text-align: center; color : #2E203C">
                Postare noua !
                {% if user.is_superuser %} ( admin ) {% endif %}
            </div>
            <br>
            <form method = 'POST' action = '' class = 'display-flex align-items-center justify-content-center w-100 h-75' enctype="multipart/form-data" style = "padding : .66rem;">
                {% csrf_token %} <br>
                <div class = 'w-100 h-25 display-flex align-items-center justify-content-center' style = 'flex-direction: column;'> </div>
                <textarea name="title" style = 'max-width : 49.5rem; width : 80%; height : 1.75rem; background-color: #2e203c;
                    color : white; border-bottom: 3px solid black; border-radius : .5rem; padding : .33rem;'
                    class = 'display-flex align-items-center justify-content-center'
                    placeholder = '  Title'>  {{post.title}}</textarea> 
                <div class = 'w-100 display-flex align-items-center justify-content-center'>
                    <textarea id="w3review" name="content" placeholder = '  Content'
                        style = 'max-width : 49.5rem; width : 80%; height : 4rem; background-color: #2e203c;
                        color : white; border-bottom: 3px solid black; border-radius : .5rem; padding : .33rem;'>{{post.content}}</textarea>
                </div>
                {% if user.is_superuser %}

                <select name="class4post" id="cars" style = 'max-width : 49.5rem; width : 80%; height : 2rem; background-color: #2e203c;
                    color : white; border-bottom: 3px solid black; border-radius : .5rem; padding : .33rem;'> 
                    <option>-</option>
                    <option value = 'anunt'>ANUNT ( postare vizibila de toata lumea )</option>
                    <option value = 'postare_normala'>Postare normala</option>
                </select> <br>
                {% else %}
                <br>
                <textarea name="class4post" id = 'class4post' style = 'max-width : 49.5rem; width : 80%; height : 1.75rem; background-color: #2e203c;
                    color : white; border-bottom: 3px solid black; border-radius : .5rem; padding : .33rem; display : none;'
                    class = 'display-flex align-items-center justify-content-center'></textarea> <br>
                {% endif %}
               
                <input type="file" name="image" accept="image/*" id="id_image" style = "width: 80%;">
                <button type = 'submit' name = 'Create' class = 'btnHover zButon'>Create</button> <br> 
                <span>Z4que ® all Rights Reserved</span>
            </form>
            <br>
        </div>
    </div>


<script>
    try{document.getElementById('class4post').value = '{{user.last_name}}';} catch{}
    document.querySelectorAll('textarea').forEach((e) =>{
        //console.log(e);
        if ( e.value == '  ') e.value = '';
    })
</script>
{% endblock %}


