{% extends 'base.html' %}

{% block content %}

<div class = 'container display-flex align-items-center justify-content-center' style = 'flex-wrap: wrap; background-color: #c5b9c1;'>
    <br>
    <div class = 'w-100 display-flex align-items-center ' style = 'gap : 1rem;padding-left : 5rem;'>
        <img src="{{ user.profile.image.url }}" class = 'round' style = 'width : 3rem; height : 3rem;'>
        <span style = 'min-width: 10rem; display : block;'>Username : {{ user.username }}</span> 
    </div>
    <form method="POST" action="" enctype="multipart/form-data" class = 'display-flex align-items-center justify-content-center' style = 'flex-direction: column;'> <br>
        {% csrf_token %}
        {{form|crispy}} <br>
        <button type="submit" class="default zButon btnHover" name="_save">Save</button>
        
    </form>
</div>
<script>
    document.querySelector('form').style.width = '100%';
    document.getElementById('div_id_title').style.width = '100%';
    document.getElementById('div_id_title').classList.add('daj');
    document.querySelector('.input-group-text').classList.add('daj');
    document.getElementById('div_id_image').style.width = '100%';
    document.querySelectorAll('.form-label').forEach((e) =>{
        e.style.display = 'none';
    })
    document.querySelector('.textinput ').style.maxwidth = '50rem';
    document.querySelector('.textinput ').style.width = '80%';
</script>
{% endblock %}
