{% extends "base.html" %}
{% load static %}
{% block content %}   

    <script>console.log("OBJ : {{object.id}}")</script>
    <div style = "padding : 1rem">
        <div class = ' container display-flex align-items-center justify-content-center ' style = 'flex-direction: column; border : 2px solid #2E203C;'>
            <div class = "display-flex" style = "width : 100%;">
                <div class = 'display-flex align-items-baseline carbon_fiber' style = 'gap : .33rem;  border : 2px solid #2E203C; border-radius : .33rem; padding : .33rem; margin : 1rem;'>
                    <a style = "padding : 0;" href = "{% url 'user_profile' username=object.author.username %}">
                        <img src="{{ object.author.profile.image.url }}" alt = 'Author_IMG' class = 'round'>
                    </a>
                </div>
                <div style = "width : 88.5%;">
                    <div style = " margin-top : 1rem; margin-bottom: 1rem;">
                        <span style = 'color : #552360; font-size : 1rem;'>{{object.author}} </span>
                        ➤
                        <span style = 'color : #303030; font-size : 1rem'>{{object.date_posted}}</span> 
                    </div>
                    <div >
                        <div style = "font-size: 1.5rem;">
                            <span style = 'background-color : #50265E; color : white; border-radius : .33rem;'>
                                #{{object.id}}
                            </span> 
                            - 
                            {{object.title}} 
                        </div>
                        <div class = "w-100 display-flex">
                            <p style = "font-family: 'Poppins', sans-serif; text-align: ledt; width : 95%;">
                                <span>▪</span>{{object.content}}{{object.body}}
                            </p>
                        </div>

                        {% if object.image %}
                        <div class = "display-flex align-items-center justify-content-center" style = "background-color: #C8BAC3; margin : 1rem; border-radius : .33rem; border : 2px solid #2E203C;">
                            <img src = '/media/{{object.image}}' alt = '{{object.image}}' style = 'width: 100%;  margin : .66rem;'>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> 
        </div>
    </div>


    {% for comment in comments %}
       
        da
       
    {% endfor %}



{% endblock %}
