{% extends "base.html" %}

{% block content %}   
    <div class = 'padding-1rem'>
        <div class = 'container display-flex justify-content-center align-items-center'>
            <div style = 'width : 90%;'> <br>
                <div class = 'w-100 display-flex align-items-center' style = 'justify-content : left; gap : .33rem;'>
                    <img src="{{ object.author.profile.image.url }}" class = 'round' style = 'width : 3.5rem; height : 3.5rem;'>
                    <h5 style = 'color : #552360;'>{{object.author}} - {{object.date_posted}}</h5>
                </div>
                <h2>{{object.title}}</h2>
                <p>{{object.content}}{{object.body}}</p>
                {% if object.image %}
                    <div class = 'display-flex align-items-center justify-content-center'>
                        <img src = '{{post.image}}' style = 'max-width: 100%;'>
                    </div> 
                {% endif %}
                {% if user.is_superuser %}
                    <hr>
                    <p>Clasa : {{object.class4post}}</p>
                {% endif %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}
