{% extends 'base.html' %}

{% block tit %}
<div class = 'fullscreen' style = 'flex-direction: column; position : fixed;'>
    <div style = 'display : flex ; gap : 1rem;'>
        <span class = 'CNNSletters'>C</span>
        <span class = 'CNNSletters'>N</span>
        <span class = 'CNNSletters'>N</span>
        <span class = 'CNNSletters'>S</span>
    </div>
    <div style = 'display : flex; gap :1rem;'>
        <span class = 'PL'>P</span>
        <span class = 'PL'>L</span>
        <span class = 'PL'>O</span>
        <span class = 'PL'>I</span>
        <span class = 'PL'>E</span>
        <span class = 'PL'>S</span>
        <span class = 'PL'>T</span>
        <span class = 'PL'>I</span>
    </div>
    <div style = 'display : flex; gap :1rem;'>
        <span class = 'Home'>P</span>
        <span class = 'Home'>R</span>
        <span class = 'Home'>O</span>
        <span class = 'Home'>F</span>
        <span class = 'Home'>I</span>
        <span class = 'Home'>L</span>
    </div>
</div>
{% endblock %}

{% block content %}

<div class = 'padding-1rem'>
    <div class = 'container display-flex align-items-center justify-content-center' style = 'flex-wrap: wrap; background-color: #c5b9c1;'>
        <div class = 'w-100 display-flex align-items-center justify-content-center' style = 'gap : 1rem;'>
            <img src="{{ user.profile.image.url }}" class = 'round' style = 'width : 7rem; height : 7rem;'>
            <div style = 'max-width : 50%; min-width : 10rem; width: 100%; flex-direction: column;' class = 'display-flex align-items-center justify-content-center'>
                <span style = 'min-width: 10rem; display : block;'><h1>Personal Info</h1></span>
                <span style = 'min-width: 10rem; display : block;'>Username : {{ user.username }}</span>
                <span style = 'min-width: 10rem; text-align : center; display : block;'>E-mail : {{ user.email }}</span>
            </div> 
        </div> 
        <br>
    </div>
    <br>
    <div class = 'container display-flex align-items-center justify-content-center' style = 'flex-wrap: wrap; background-color: #c5b9c1;'>
        <form method = 'POST' enctype="multipart/form-data" class = 'display-flex align-items-center justify-content-center w-100 h-75' style = 'background: none;'>
            {% csrf_token %}
            <div class = 'w-100 h-25 display-flex align-items-center justify-content-center' style = 'flex-direction: column;'> </div>
            <h1 style = 'color : #210D38; text-shadow: 2px 2px 2rem #fff;'> Edit profile </h1>
            <input type = 'text' name = 'username' placeholder = 'Username'> <br>
            <input type = 'text' name = 'email' placeholder = 'Email'> <br>
            <button type = 'submit' class = 'btnHover'>Update</button> <br>
            <span>Z4que ® all Rights Reserved</span> <br>
        </form>
</div>
{% endblock %}
