{% extends 'base.html' %}

{% block content %}

<div class = 'container display-flex align-items-center justify-content-center' style = 'flex-wrap: wrap;'>
    <div style = 'width : 25%' class = 'display-flex align-items-center justify-content-center'>
        <img src="{{ user.profile.image.url }}" style = 'height : 7.5rem;' class = 'round'>
    </div>
    <div style = 'max-width : 50%; min-width : 10rem; width: 100%; flex-direction: column;' class = 'display-flex align-items-center justify-content-center'>
        <span style = 'min-width: 10rem;'><h1>Personal Info</h1></span>
        <span style = 'min-width: 10rem;'>Username : {{ user.username }}</span>
        <span style = 'min-width: 10rem;'>E-mail : {{ user.email }}</span>
    </div> <br>
    
</div>

<div class = 'container display-flex align-items-center justify-content-center' style = 'flex-wrap: wrap;'>
    <form method = 'POST' enctype="multipart/form-data" class = 'display-flex align-items-center justify-content-center w-100 h-75' style = 'background: none;'>
        {% csrf_token %}
        <div class = 'w-100 h-25 display-flex align-items-center justify-content-center' style = 'flex-direction: column;'> </div>
        <h1 style = 'color : #210D38; text-shadow: 2px 2px 2rem #fff;'> Edit profile </h1>
        <input type = 'text' name = 'username' placeholder = 'Username'> <br>
        <input type = 'text' name = 'email' placeholder = 'Email'> <br>
        <button type = 'submit'>Update</button>
    </form>
</div>
{% endblock %}
